<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.LibrarySearchDAO">
	<insert id="reserveBook">
		INSERT INTO ReserveBook(reserveBookIdx,bookIdx,id)
			VALUES(reserveBookIdx_seq.NEXTVAL,#{param1},'test')
	</insert>
</mapper>