<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.LibrarySearchDAO">
	<select id="reserveChk" resultType="int">
		SELECT COUNT(bookidx) FROM reservebook WHERE bookidx = #{param1} AND bookstate = 'R001'
	</select>

	<insert id="reserveBook">
		INSERT INTO ReserveBook(reserveBookIdx,bookIdx,id)
			VALUES(reserveBookIdx_seq.NEXTVAL,#{param1},'test')
	</insert>
	
	<delete id="reserveBookCancel">
		DELETE FROM reserveBook WHERE reserveBookIdx = #{param1}
	</delete>
	
	<update id="rentalBook">
		UPDATE ReserveBook SET bookState = 'R002' WHERE reserveBookIdx = #{param1}
	</update>
	
	<update id="returnBook">
		UPDATE ReserveBook SET bookState = 'R003' WHERE reserveBookIdx = #{param1}
	</update>
	
	<select id="searchResult" parameterType="hashMap" resultType="book">
		
		SELECT * FROM book
		<where>
	 	<if test="search == '도서명'">
	 		bookname LIKE '%'||#{searchContent}||'%' AND bookstate NOT IN ('B005', 'B006', 'B007')
	 	</if>
	 	<if test="search == '저자명'">
	 		writer LIKE '%'||#{search}||'%' AND bookstate NOT IN ('B005', 'B006', 'B007')
	 	</if>
	 	</where>
		
	</select>
	
	<select id="searchResultDetail" resultType="book">
		SELECT * FROM book WHERE bookidx = #{bookIdx}
	</select>
	
</mapper>