<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.LibraryInfoDAO">
	<select id="list" resultType="com.spring.main.dto.LibraryInfoDTO">
		SELECT NOTICEIDX ,ID ,SUBJECT ,CONTENT ,REG_DATE ,NOTICESTATUS FROM notice
	</select>
	
<select id="noticeDetail" resultType="com.spring.main.dto.LibraryInfoDTO">
		SELECT NOTICEIDX ,ID ,SUBJECT ,CONTENT ,REG_DATE ,NOTICESTATUS FROM notice WHERE NOTICEIDX = #{param1}
	</select>
	
<select id="searchList" parameterType="hashmap" resultType="com.spring.main.dto.LibraryInfoDTO">
		SELECT NOTICEIDX ,ID ,SUBJECT ,CONTENT ,REG_DATE ,NOTICESTATUS FROM notice
		<where>
		<!-- searchSelect=전체,제목,내용 search -->
			<if test="searchSelect.equals('전체')">
			 content LIKE '%'||#{search}||'%' OR subject LIKE '%'||#{search}||'%'
			</if>
			<if test="searchSelect.equals('제목')">
			subject LIKE '%'||#{search}||'%'
			</if>
			<if test="searchSelect.equals('내용')">
			content LIKE '%'||#{search}||'%'
			</if>
		</where>
	</select>
</mapper>