<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.MemberDAO">
<insert id="join" parameterType="hashmap">
	INSERT INTO member(id,pw,name,phone,email)
			VALUES(#{userId},#{userPw},#{name},#{phone},#{email})
</insert>

<select id="memOverlay" resultType="int">
	SELECT count(id) FROM member WHERE id=#{id}
</select>

 <select id="login" resultType="String">
	SELECT pw FROM member WHERE id=#{id}
</select> 

<select id="withdrawChk" resultType="String">
	SELECT withdraw FROM member WHERE id=#{id}
</select>

<select id="findId" resultType="String">
	SELECT id FROM member WHERE name=#{param1} and phone=#{param2}
</select>

<select id="findPw" resultType="String">
	SELECT id FROM member WHERE id=#{id} and name=#{name} and email=#{email}
</select>

<update id="newPw" parameterType="member">
	UPDATE member SET pw=#{pw} WHERE id=#{id}
</update>

<update id="memWithdraw">
	UPDATE member SET withdraw='TRUE' WHERE id=#{id}
</update>

<select id="myLib_UpdateForm" resultType="member">
	SELECT name,email,phone FROM member WHERE id=#{param1} 
</select>

<update id="memUpdate" parameterType="member">
	UPDATE member SET name=#{name}, phone=#{phone}, email=#{email} WHERE id=#{id}
</update>

</mapper>
