<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.MyLibraryDAO">
	
	<select id="question_list" resultType="myLibrary">
		SELECT queidx,id,subject,reg_date,ansstatus FROM question ORDER BY reg_date DESC
	</select>
	
	
	<select id="page_list" resultType="myLibrary">
		SELECT queidx, id,subject,content,reg_date,ansstatus, rnum
		FROM (
			SELECT queidx, id,subject,content,reg_date, ansstatus, type,
			ROW_NUMBER() OVER(ORDER BY queidx DESC) AS rnum FROM question WHERE id=#{param3}
		)
	WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<!-- <insert id="question_write" 
		useGeneratedKeys="true"
		keyProperty="queIdx"
		keyColumn="queIdx"
		parameterType="question">
		INSERT INTO QUESTION(queIdx,id,subject,content,ansstatus,type) 
			VALUES(queIdx_seq.NEXTVAL,#{id},#{subject},#{content},#{ansstatus},#{type})
	</insert> -->
	
	<select id="myLib_question_detail" parameterType="hashMap" resultType="myLibrary">
	<!-- <select id="question_detail" resultType="hashMap"> -->
	<if test="ansstatus.equals('TRUE')">
		SELECT q.queidx,q.id,q.subject,q.content,q.reg_date,q.ansstatus,q.type,a.content AS answer,a.reg_date 
		FROM question q INNER JOIN answer a ON q.queidx=a.queidx AND q.queidx=#{idx}
	</if>
	<if test="ansstatus.equals('FALSE')">
		SELECT queidx,id,subject,content,reg_date,ansstatus,type 
		FROM question WHERE queidx=#{idx}
	
	</if>
	</select>
	
	<select id="question_editForm" parameterType="hashMap" resultType="myLibrary">
		SELECT queidx,id,subject,content,reg_date,ansstatus,type 
		FROM question WHERE queidx=#{idx}
		</select>
		
	<update id="question_edit" parameterType="hashMap">
		UPDATE question SET subject=#{subject}, type=#{Qtype}, content=#{content} WHERE queIdx=#{idx} 
	</update>
	
	<delete id="question_delete">
		DELETE FROM question WHERE queidx=#{param1}
	</delete>
	
	<select id="Question_allCount" resultType="Integer">
		SELECT COUNT(queidx) FROM question WHERE id=#{param1}
	</select>
	
	<select id="ReserveBook_allCount" resultType="Integer">
		SELECT COUNT(reservebookidx) FROM RESERVEBOOK WHERE bookstate IN('R001','R002','R003') AND id=#{param1} 
	</select>
	
	<!-- <insert id="writeFile"> 
		INSERT INTO questionphoto(quephotoidx,queidx,orifilename,newfilename)
			VALUES(quephotoidx_seq.NEXTVAL,#{param1},#{param2},#{param3})
	</insert> -->
	
	<!-- <select id="fileList" resultType="Qphoto">
		SELECT * FROM questionphoto WHERE queidx=#{param1}
	</select> -->
	
	<select id="reserve_list" resultType="hashMap">
	SELECT  * FROM( 
		SELECT ROW_NUMBER() OVER(ORDER BY b.bookidx DESC) AS rnum,b.bookIdx,b.bookstate "bstate",b.bookname,r.bookstate "rstate",r.id,r.reg_date,r.reservebookidx  FROM book b FULL OUTER JOIN reserveBook r ON b.bookidx = r.bookidx WHERE id=#{param3}
	)WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="reserveChk" resultType="int">
		SELECT COUNT(bookidx) FROM reservebook WHERE bookidx = #{param1} AND (bookstate = 'R001')
	</select>
	
	<select id="reserveIdChk" resultType="int">
		SELECT COUNT(*) AS reserve_chk FROM reservebook WHERE bookidx = #{param1} AND id = #{param2}
	</select>
	
	<select id="reserveId" resultType="String">
		SELECT id FROM reservebook WHERE bookidx = #{param1} AND (bookstate = 'R001') AND id = #{param2}
	</select>

	<select id="borrowId" resultType="String">
		SELECT id FROM reservebook WHERE bookidx = #{param1} AND (bookstate = 'R002')
	</select>
	
	<select id="myRBookDetail" resultType="myLibrary">
		SELECT * FROM book WHERE bookidx = #{bookIdx}
	</select>
	
	<update id="bookReturn">
		UPDATE ReserveBook SET bookState = 'R003' WHERE reserveBookIdx = #{param1} AND id=#{param2}
	</update>
	
	<insert id="reserveS">
		INSERT INTO reservebook(reservebookIdx,bookidx,id,bookstate) 
			VALUES(reserveBookIdx_seq.NEXTVAL,#{param1},#{param2},'R001')
	</insert>
	
	<delete id="reserveF">
		DELETE FROM reserveBook WHERE bookidx = #{param1} AND id=#{param2}
	</delete>
	
	<delete id="myRBookCancel">
		DELETE FROM reserveBook WHERE reservebookidx = #{param1} AND id=#{param2} AND bookstate = 'R001'
	</delete>
	
	<select id="HopeBook_allCount" resultType="Integer">
		SELECT COUNT(hopebooksNumber) FROM HopeBook WHERE id=#{param1}
	</select>
	
	<select id="hope_list" resultType="hashMap">
		SELECT  * FROM( 
			SELECT ROW_NUMBER() OVER(ORDER BY h.hopebooksNumber DESC) AS rnum,h.hopebooksNumber,h.hopereason,h.id,h.hb_bookname,h.hb_date,h.hb_state,h.publisher,h.writer,r.reject  
			FROM hopebook h LEFT JOIN hopebookreject r ON h.hopebooksNumber = r.hopebooksNumber WHERE id=#{param3}
		)WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="myHBookDetail" resultType="myLibrary">
		SELECT * FROM hopebook WHERE hopeBooksNumber = #{hopeBooksNumber}
	</select>
	
	<select id="Review_allCount" resultType="Integer">
		SELECT COUNT(*) FROM review WHERE id=#{param1}
	</select>
	
	<select id="review_list" resultType="hashMap">
		SELECT * FROM(
			SELECT ROW_NUMBER() OVER(ORDER BY r.reg_date DESC) AS rnum,r.reviewIdx,r.content,r.id,r.reg_date,r.cnt,r.reportcnt,r.blind_status,r.month_rcnt,b.bookIdx,b.bookname,b.bookImg,b.writer,b.publisher
			FROM book b FULL OUTER JOIN review r ON b.bookidx = r.bookidx WHERE r.id=#{param3}
		)WHERE rnum BETWEEN #{param1} AND #{param2}
	</select>
	
	<select id="myReviewDetail" resultType="myLibrary">
		SELECT r.content,r.id,r.reviewIdx,r.reg_date,r.cnt,r.reportcnt,r.blind_status,r.month_rcnt,b.bookIdx,b.bookname,b.bookImg,b.writer,b.publisher
		FROM book b FULL OUTER JOIN review r ON b.bookidx = r.bookidx WHERE r.reviewIdx = #{reviewIdx}
	</select>
	
	<update id="review_edit" parameterType="hashMap">
		UPDATE review SET content=#{content} WHERE reviewIdx=#{reviewIdx} 
	</update>
	
	<delete id="review_delete">
		DELETE FROM review WHERE reviewIdx=#{param1}
	</delete>
	
	<select id="myReviewWriteForm" parameterType="hashMap" resultType="myLibrary">
		SELECT b.bookIdx,b.bookname,b.bookImg,b.writer,b.publisher
		FROM book b WHERE b.bookidx = #{bookIdx}
		</select>
	
	<insert id="review_write" parameterType="hashMap">
		INSERT INTO REVIEW(reviewIdx,content,id,blind_status,bookIdx) VALUES(review_seq.NEXTVAL,#{content},#{id},#{blind_status},#{bookIdx})
	</insert> 
	
</mapper>