<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.ReserveSeatDAO">
	
	<select id="seatList" resultType="seat">
		SELECT * FROM seat
	</select>
	
	<select id="reserveList" resultType="seat">
		SELECT * FROM reserveseat
	</select>
</mapper>