<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.ReserveSeatDAO">
	
	<select id="seatList" resultType="seat">
		SELECT * FROM seat
	</select>
	
	<select id="reserveList" resultType="seat">
		SELECT * FROM reserveseat WHERE seatstatus = 'S002' OR seatstatus = 'S003' ORDER BY seatnumber ASC 
	</select>
	
	<insert id="reserveSeatReq">
		INSERT INTO reserveseat(reservenumber,reservestart,reserveend,seatnumber,id)
		VALUES(reserveseat_seq.NEXTVAL,TO_DATE(#{param1},'hh24:mi'),TO_DATE(#{param2},'hh24:mi'),#{param3},#{param4})
	</insert>
	
	<!-- 좌석 예약전에 사용자가 예약 또는 입실한 경우가 있으면 가져와라 -->
	<select id="reserSeatChk" resultType="String">
		SELECT id FROM reserveseat WHERE id=#{param1} AND (seatstatus = 'S002' OR seatstatus = 'S003')
	</select>
	
	<select id="myReserveSeat" resultType="seat">
		SELECT * FROM reserveseat WHERE id=#{param1} AND (seatstatus = 'S002' OR seatstatus = 'S003')  
	</select>
	
	<update id="seatEnterReq">
		UPDATE reserveseat SET seatstatus = 'S003' WHERE id=#{param1} AND (seatstatus = 'S002' OR seatstatus != 'S001') 
	</update>
	
	<select id="mySeatNum" resultType="int">
		SELECT reservenumber FROM reserveseat WHERE id=#{param1} AND seatstatus = 'S003'
	</select>
	
	<select id="mySeatUseEnd">
		SELECT reserveend FROM reserveseat WHERE id=#{param1} AND seatstatus = 'S003'
	</select>
	
	<insert id="mySeatEnter">
		INSERT INTO useseat(reservenumber,usestart,id)
		VALUES(#{param2},SYSDATE,#{param1})
	</insert>
	
	<update id="autoMySeatExit">
		UPDATE useseat SET useend = TO_DATE(#{param3},'YYYY-MM-DD HH24:MI:SS')
		WHERE id = #{param1} AND reservenumber = #{param2}
	</update>
	
	<select id="mySeatEnd" resultType="String">
		SELECT reserveend + (interval '1' hour) hour2 FROM reserveseat WHERE id=#{param1} AND seatstatus = 'S003'
	</select>
	
	<update id="mySeatExit">
		UPDATE useseat SET useend = SYSDATE
		WHERE id = #{param1} AND reservenumber = #{param2}
	</update>
	
	<update id="seatExitReq">
		UPDATE reserveseat SET seatstatus = 'S001' WHERE id=#{param1} AND seatstatus = 'S003'
	</update>
	
	<update id="reserveCancelReq">
		UPDATE reserveseat SET seatstatus = 'S001' WHERE id=#{param1} AND seatstatus = 'S002'
	</update>
	
	<select id="mySeatEnterExitHistory" resultType="useSeat">
		SELECT id,usestart,useend FROM 
		(SELECT id,usestart,useend, ROW_NUMBER() OVER(ORDER BY usestart DESC) AS rnum FROM useseat) 
		WHERE id = #{param1} AND rnum BETWEEN #{param2} AND #{param3}
	</select>
	
	<select id="historyAll" resultType="int">
		SELECT count(*) FROM useseat WHERE id = #{param1}
	</select>
	
	<update id="reserveTimeChk">
		UPDATE reserveseat SET seatstatus = 'S001' 
		<where>
				TO_CHAR(reservestart,'HH24') IN (#{param1}) AND seatstatus = 'S002' 
		</where>
	</update>
	
	<update id="exitTimeChk">
		UPDATE reserveseat SET seatstatus = 'S001' 
		<where>
				TO_CHAR(reserveend,'HH24')+1 IN (#{param1}) AND seatstatus = 'S003' 
		</where>
	</update>
	
	
</mapper>